* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  align-items: center;
  margin-top: 250px;
  /*margin-left: 750px; */
  /* margin-bottom: 250px;
  margin-right: 200px; */
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 10%;
  padding-top: 200px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 200px;
  border: 5px solid #000;
  box-shadow: 10px;
}

.profilePic {
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.card h2 {
  font-size: 30px;
  margin-top: 15px;
}

.card p {
  font-size: 20px;
  color: #24242348;
}

.card img {
  height: 20vw;
  width: 20vh;
  border: 2px solid black;
  align-items: center;
  border-radius: 100%;
  margin-top: 10px;
}

.follow {
  border: 2px solid #000;
  margin-top: 30px;
  border-radius: 10%;
  background-color: blue;
  height: 30%;
  width: 80%;
  color: white;
  font-size: 20px;
}
